body {
	font-family: 'verlagbold', "Helvetica Neue",Helvetica,Arial,sans-serif;
	/*background-color: #eeeeee;*/
}

#header {
	margin-bottom: -12px; /* header高度的负值 */
	position: relative;
	width: 100%;
	height: 12px;
	background-repeat: repeat-x;
}

html, body, #wrap {
	height: 100%;
}

body > #wrap {
	height: auto;
	min-height: 100%;
}

#main {
	padding-top: 12px; /* 必须使用和header相同的高度 */
	padding-bottom: 32px; /* 必须使用和footer相同的高度 */
}  

#footer {
	width: 100%;
	position: relative;
	margin-top: -32px; /* footer高度的负值 */
	height: 32px;
	clear:both;
}

#footer {
	color: #ffffff;
	vertical-align: middle;
	line-height: 32px;
	background-repeat: repeat-x;
	font-size: 12px;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.logo {
	width: 117px;
	height: 71px;
	margin-top: 26px;
	margin-left: 20px;
	float: left;
}

.nav_top {
	margin-top: 50px;
	float: right;
}

.nav_top ul li {
	float: left;
	margin: 0 10px;
}

.nav_btn {
	width: 33px;
	height: 33px;
	cursor: pointer;
}

.nav_right {
	float: right;
	clear: both;
	margin-top: 10%;
	margin-right: 63px;
}

.nav_right ul {
	list-style: none;
}

.nav_right li {
	text-align: right;
	line-height: 35px;
	width: 130px;
	margin-top: 25px;
	font-size: 12px;
}

.nav_right div {
	display: inline;
}

.nav_label {
	margin-right: 10px;
}

.nav_right .nav_btn {
	float: right;
}

.container {
	width: 80%;
	height: 81%;
	clear: left;
	margin-left: auto;
	margin-right: auto;
	padding: 1% 0;
}


.slidesjs-pagination {
	margin-left: auto;
	margin-right: auto;
}

#home .slidesjs-pagination {
	margin-top: 2%;
	width: 	50px;
}

#dialog .slidesjs-pagination {
	margin-top: 10px;
	width: 	75px;
}

.slidesjs-pagination li {
	float: left;
	margin: 0 5px;
}

.slidesjs-pagination li a {
	display: block;
	width: 15px;
	height: 0;
	padding-top: 15px;
	background-image: url(img/pagination.png);
	background-position: 0 0;
	float: left;
	overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
	background-position: 0 -15px
}

.slidesjs-pagination li a:hover {
	background-position: 0 -15px
}


.en-title .black-part {
	color: black;
	font-size: 60px;
	font-weight: 600;
	letter-spacing: 3px;
	margin: 14px 0;
}

.en-title .grey-part {
	color: #7c7c7c;
	font-size: 60px;
	font-weight: 600;
	margin: 14px 0;
	letter-spacing: 3px;
}

.en-title .small-part {
	color: #7d7d7d;
	font-size: 18px;
	letter-spacing: 3px;
	margin: 14px 0;
}

.cn-title, .case-cn-title, .more {
	font-family: "微软雅黑", tahoma, arial, 'Hiragino Sans GB' sans-serif;
}

.cn-title h3 {
	font-size: 22px;
	padding-top: 150px;
	margin-bottom: 18px;
}


.en-title {
	text-align: right;
	float: left;
}

.cn-title {
	width: 492px;
	border-bottom: 1px solid black;
}


.content {
	width: 483px;
	margin-top: 18px;
}

.content article {
	font-family: "微软雅黑", tahoma, arial, 'Hiragino Sans GB' sans-serif;
	font-size: 15px;
	color: #3b3b3b;
	letter-spacing: 1.2px;
	line-height: 220%;
}

.content .large-size {
	font-size: 16px;
	color: #333333;
	font-weight: bold;
}

.content .small-size {
	font-size: 13px;
	color: #828282;
}

/*    about    */
#about {
	padding-top: 7%;
	width: 820px;
	margin-left: auto;
	margin-right: auto;
}
#about .cn-title {
	margin-left: 250px;
}
#about .content {
	margin-left: 258px;
}

/*    service    */
#service {
	padding-top: 3%;
	width: 820px;
	margin-left: auto;
	margin-right: auto;
}
#service .cn-title {
	margin-left: 290px;
}
#service .content {
	margin-left: 298px;
}

#service .content {
	line-height: 190%;
}

#service .content article {
	letter-spacing: 0;
}

/*    contact    */
#contact {
	width: 820px;
	margin-left: auto;
	margin-right: auto;
}
#contact .cn-title {
	margin-left: 345px;
}
#contact .content {
	margin-left: 353px;
}

#contact {
	padding-top: 11%;
}

#contact .cn-title{
	width: 296px;
}

#contact .cn-title h3 {
	font-size: 27px;
	font-weight: 600;
	letter-spacing: 2.5px;
	padding-top: 145px;
	margin-bottom: 10px;
}

#contact .content article {
	letter-spacing: 0;
	color: #828282;
}

strong {
	font-weight: bold;
}

/*     work    */
#work {
	padding-top: 3%;
	width: 1230px;
	margin-left: auto;
	margin-right: auto;
}
#work .cn-title {
	margin-left: 220px;
}
#work .content {
	margin-left: 0px;
}

#work .cn-title {
	width: 885px;
}

#work .content {
	width: 100%;
	margin-top: 38px;
}

#work .content div {
	display: inline-block;
}

#work .anchor {
	height: 350px;
	vertical-align: middle;
}

.work-case img {
	cursor: pointer;
}

.work-case {
	margin: 0 30px;

}

.work-case img {
	-moz-box-shadow: 8px 8px 20px #888888; /* 老的 Firefox */
	box-shadow: 8px 8px 20px #888888;
}

.case-cn-title {
	color: #1e1e1e;
	padding-top: 28px;
	font-size: 20px;
	font-weight: 600;
}

.case-en-title {
	margin-top: 10px;
	font-size: 10px;
	color: #828282;
}

/*    client   */
#client {
	padding-top: 3%;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#client .cn-title {
	margin-left: 280px;
}
#client .content {
	margin-left: 36px;
}

#client .cn-title {
	width: 745px;
}

#client .content {
	margin-top: 38px;
	width: 1080px;
}

#client .cn-title h3 {
	padding-top: 160px;
}

#client img {
	max-width: 996px;
	max-height: 388px;
}

#client .more {
	font-size: 16px;
	font-weight: lighter;
}

.bg-1 {
	position: absolute;
	height: 34%;
	width: 100%;
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#EEEEEE), to(#ffffff));/*Safari 、Chrome*/
	z-index: -1;
}

.bg-2 {
	position: absolute;
	top: 34%;
	height: 5%;
	width: 100%;
	background-color: #ffffff;
	z-index: -1;
}

.bg-3 {
	position: absolute;
	top: 39%;
	height: 15%;
	width: 100%;
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#f3f3f3));/*Safari 、Chrome*/
	z-index: -1;
}

.bg-4 {
	position: absolute;
	top: 54%;
	height: 15%;
	width: 100%;
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#f3f3f3), to(#ffffff));/*Safari 、Chrome*/
	z-index: -1;
}

.bg-5 {
	position: absolute;
	top: 62%;
	height: 38%;
	width: 100%;
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#EEEEEE));/*Safari 、Chrome*/
	z-index: -1;
}

article p {
	position:relative;
}

#close-div {
	height: 20px;
	margin-bottom: 20px;
}

#close {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	text-align: right;
	text-decoration: none;
	float: right;
}


#work3-slides {
	width: 100%;
	height: 100%;
}

#work3-slides .slidesjs-container, #work3-slides .slidesjs-control {
	width: 750px !important;
	height: 470px !important;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

#work3-slides .slidesjs-previous {
	float: left;
	margin-top: 180px;
}

#work3-slides .slidesjs-next {
	float: right;
	margin-top: 180px;
}